<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid" id="navdiv">
    <button id="login_btn" type="button" (click)="login()"><i class="material-icons">login</i>Admin Login</button>
    <span class="navbar-brand mb-0 h1">Payroll Management System</span>
    <button id="login_btn" type="button" (click)="login()"><i class="material-icons">login</i>Employee Login</button>
  </div>
</nav>
<!--<section class="home">
    <div class="homecontent">-->
      <!--<button id="login_btn" class="btn-outline-success me-2" type="button" (click)="login()"> Login </button>-->
      <!--<h1>Payroll Management System</h1>
      <p>Employee payroll system used for manage employee detail and manage employee leave and 
      <br>generate employee salary and generate reports and salary pay slip.</p>
    </div>
  </section>-->
<div class="image">
  <marquee width="100%" direction="left" height="100px" scrollamount="5" style="color:rgb(67, 28, 197);">
    <br>
    <h1><b>Employee payroll system used for manage employee detail and manage employee leave and generate employee salary and generate reports and salary pay slip.</b></h1>
  </marquee>
</div>