.container {
    background-color: #336699;
    margin: 20px auto;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 650px;
}

h2 {
    text-align: center;
    color: wheat;
    font-size: 26px;
}

.form-group {
    position: relative;
    margin-bottom: 5px;
}


label {
    font-size: 16px;
    margin-bottom: 5px;
    color: black;
    display: inline-block;
}

select {
    width: 102%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

input{
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    
}

textarea {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    height: 100px;
    margin-top: 5px;
}

.button {
    background-color: rgb(169, 172, 179) ; ;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
}
.mat-form-field {
    width: 40%;
}
 
.datepicker-icon {
    color:black; /* Set the color of the calendar icon */
}
.mat-datepicker-toggle {
    position: absolute;
    right: 20px; /* Adjust this value based on your preference */
    top: 80%;
    transform: translateY(-50%);
}
